use hyperswitch_masking::Secret;
use serde::{Deserialize, Serialize};

#[derive(Clone, Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}ErrorInformationResponse {
    pub id: String,
    pub error_information: {{CONNECTOR_NAME_PASCAL}}ErrorInformation,
}

#[derive(Clone, Debug, Deserialize, Serialize)]
pub struct {{CONNECTOR_NAME_PASCAL}}ErrorInformation {
    pub reason: Option<String>,
    pub message: Option<String>,
    pub details: Option<Vec<Details>>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct Details {
    pub field: String,
    pub reason: String,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(untagged)]
pub enum {{CONNECTOR_NAME_PASCAL}}PaymentsResponse {
    ClientReferenceInformation(Box<{{CONNECTOR_NAME_PASCAL}}ClientReferenceResponse>),
    ErrorInformation(Box<{{CONNECTOR_NAME_PASCAL}}ErrorInformationResponse>),
}

#[derive(Clone, Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}ClientReferenceResponse {
    pub id: String,
    pub status: Option<{{CONNECTOR_NAME_PASCAL}}PaymentStatus>,
    pub client_reference_information: ClientReferenceInformation,
    pub processor_information: Option<ClientProcessorInformation>,
    pub risk_information: Option<ClientRiskInformation>,
    pub error_information: Option<{{CONNECTOR_NAME_PASCAL}}ErrorInformation>,
}

#[derive(Clone, Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct ClientReferenceInformation {
    pub code: Option<String>,
}

#[derive(Clone, Debug, Deserialize, Serialize)]
#[serde(rename_all = "SCREAMING_SNAKE_CASE")]
pub enum {{CONNECTOR_NAME_PASCAL}}PaymentStatus {
    Authorized,
    Succeeded,
    Failed,
    Voided,
    Reversed,
    Pending,
    Declined,
    Rejected,
    AuthorizedPendingReview,
    AuthorizedRiskDeclined,
    Transmitted,
    InvalidRequest,
    ServerError,
    PendingReview,
    Cancelled,
    StatusNotReceived,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct ClientProcessorInformation {
    pub avs: Option<Avs>,
    pub card_verification: Option<CardVerification>,
    pub network_transaction_id: Option<Secret<String>>,
    pub approval_code: Option<String>,
    pub merchant_advice: Option<MerchantAdvice>,
    pub response_code: Option<String>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct MerchantAdvice {
    pub code: Option<String>,
    pub code_raw: Option<String>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct CardVerification {
    pub result_code: Option<String>,
    pub result_code_raw: Option<String>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct Avs {
    pub code: Option<String>,
    pub code_raw: Option<String>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct ClientRiskInformation {
    pub rules: Option<Vec<ClientRiskInformationRules>>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
pub struct ClientRiskInformationRules {
    pub name: Option<Secret<String>>,
}

pub type {{CONNECTOR_NAME_PASCAL}}AuthorizeResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}CaptureResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}VoidResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}CreateOrderResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}CreateSessionTokenResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}CreateAccessTokenResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}CreateConnectorCustomerResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}PaymentMethodTokenResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}SetupMandateResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}RepeatPaymentResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}AcceptDisputeResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}SubmitEvidenceResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}DefendDisputeResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}PreAuthenticateResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}AuthenticateResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;
pub type {{CONNECTOR_NAME_PASCAL}}PostAuthenticateResponse = {{CONNECTOR_NAME_PASCAL}}PaymentsResponse;

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}TransactionResponse {
    pub id: String,
    pub application_information: ApplicationInformation,
    pub client_reference_information: Option<ClientReferenceInformation>,
    pub processor_information: Option<ClientProcessorInformation>,
    pub error_information: Option<{{CONNECTOR_NAME_PASCAL}}ErrorInformation>,
    pub risk_information: Option<ClientRiskInformation>,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct ApplicationInformation {
    pub status: Option<{{CONNECTOR_NAME_PASCAL}}PaymentStatus>,
}

#[derive(Debug, Clone, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}RefundResponse {
    pub id: String,
    pub status: {{CONNECTOR_NAME_PASCAL}}RefundStatus,
    pub error_information: Option<{{CONNECTOR_NAME_PASCAL}}ErrorInformation>,
}

#[derive(Debug, Clone, PartialEq, Deserialize, Serialize)]
#[serde(rename_all = "SCREAMING_SNAKE_CASE")]
pub enum {{CONNECTOR_NAME_PASCAL}}RefundStatus {
    Succeeded,
    Transmitted,
    Failed,
    Pending,
    Voided,
    Cancelled,
    #[serde(rename = "201")]
    TwoZeroOne,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}RsyncResponse {
    pub id: String,
    pub application_information: Option<RsyncApplicationInformation>,
    pub error_information: Option<{{CONNECTOR_NAME_PASCAL}}ErrorInformation>,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct RsyncApplicationInformation {
    pub status: Option<{{CONNECTOR_NAME_PASCAL}}RefundStatus>,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}StandardErrorResponse {
    pub error_information: Option<ErrorInformation>,
    pub status: Option<String>,
    pub message: Option<String>,
    pub reason: Option<String>,
    pub details: Option<Vec<Details>>,
}

#[derive(Debug, Default, Deserialize, Serialize)]
pub struct ErrorInformation {
    pub message: String,
    pub reason: String,
    pub details: Option<Vec<Details>>,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{CONNECTOR_NAME_PASCAL}}ServerErrorResponse {
    pub status: Option<String>,
    pub message: Option<String>,
    pub reason: Option<Reason>,
}

#[derive(Debug, Deserialize, Serialize)]
#[serde(rename_all = "SCREAMING_SNAKE_CASE")]
pub enum Reason {
    SystemError,
    ServerTimeout,
    ServiceTimeout,
}

#[derive(Debug, Deserialize, Serialize)]
pub struct {{CONNECTOR_NAME_PASCAL}}AuthenticationErrorResponse {
    pub response: AuthenticationErrorInformation,
}

#[derive(Debug, Default, Deserialize, Serialize)]
pub struct AuthenticationErrorInformation {
    pub rmsg: String,
}

#[derive(Debug, Deserialize)]
#[serde(untagged)]
pub enum {{CONNECTOR_NAME_PASCAL}}ErrorResponse {
    Authentication({{CONNECTOR_NAME_PASCAL}}AuthenticationErrorResponse),
    Server({{CONNECTOR_NAME_PASCAL}}ServerErrorResponse),
    Standard({{CONNECTOR_NAME_PASCAL}}StandardErrorResponse),
}
